<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Для активации аккаунта перейдите по ссылке</h1>
<a href="<%= link %>"><%= link %></a>
</body>
</html>
